div {
    color:  red;
    font-size: 3rem;
    background-color: rgba(250, 95,250, 0.404);
    width: calc(100% / 3);
    /*
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50;
    margin-right: 0; */
    margin: 100px 0 50px 100px;
}
