.container {
    width: 1000px;
    background-color: coral;
    display: flex;
    flex-direction: row; 
}
.item {
    height: 200px;
}
.item1 {
    background-color: pink;
    width: 100px; 
    flex-shrink: 0; 
}
.item2 {
    background-color: skyblue;
    width: 100px; 
    flex-shrink: 0; 
}

.measure {
    display: flex; 
    border-top: solid 2px black; /* 上部に黒い罫線を追加 */
    background-color: green; /* 背景色を薄い灰色に変更 */
    color: black; /* 文字色を黒に変更 */
}
.measure div {
    width: 100px;
    border-right: solid 2px black; /* 右側に黒い罫線を追加 */
}